<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Project</title>
    <style>
        body{
            background-image: url("https://th.bing.com/th/id/R.bcb3fcdffa4286e50dbc7667c7c3b164?rik=Eu%2fHQl7ZqWuscg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fd%2f8%2f9%2f1413302-cool-neon-backgrounds-1920x1080-windows-7.jpg&ehk=qFZZdxQLA8pxwHDHYUJAaQUpdg5NdFnpOEBDaB5Xl%2fA%3d&risl=&pid=ImgRaw&r=0");
        }
    </style>
    <script type="text/JavaScript">
        let a=1;
        function createNewElement() {
            // First create a DIV element.
            var txtNewInputBox = document.createElement('div');
        
            // Then add the content (a new input box) of the element.
            txtNewInputBox.innerHTML = "<input type='text' id='"+a+"'>";
        
            // Finally put it where it is supposed to appear.
            document.getElementById("newElementId").appendChild(txtNewInputBox);
            a=a+1;
        }
        </script>
</head>
<body>
    <center>
    <div class="form">
        <form action = "/coursecredits" method = "POST">
           <center><h1 class="reg" style="color:black"><%=nam1 %>'s Courses</h1></center>
            <table class = "tbl">
                <tbody>
                    <% cor.filter(course => course.firstName === nam1).forEach((course) => { %>
                        <tr>
                            <td>Course Name</td>
                            <td><%= course.CName %></td>
                        </tr>
                        <tr>
                            <td>Course Certificate</td>
                            <td><a href="<%=course.name %>" download>Click here to download the certificate</td>
                        </tr>
                        <tr>
                            <td>Skills</td>
                            <td><%= course.Skills %></td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr style = "color: black"></td>
                        </tr>
                        
                        <% }); %>
                </tbody>
            
            </table>
            <p>            </p>
            <center><input type = "number" name="course_credits" placeholder="Enter credits"></center>
            <p>           </p>
            <button type = "submit">Submit</button>
        </form>   
    </div>
</center>
</body>
</html>