<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<script>
    function scrollto() {
        window.scrollTo(0,550);
    }
    function scrollto2() {
        window.scrollTo(0,1000);
    }
</script>
<body>
    <div class = "topnav" id = "topnav">
        <a href = "#home" class = "active">Home</a>
        <a href = "#About" onclick = "scrollto()" >About</a>
        <a href = "register" class = "profile">Register</a>
        <a href = "login" class = "profile">Login</a>
    </div>
    <div class="hero">
        <h1>TECH SOLUTIONS COMPANY EMPLOYEE EVALUATION</h1>
    </div>
    <br><br>
    <center><h1><u>EMPLOYEE PERFORMANCE MANAGEMENT SYSTEM</u></h1></center>
    <br><br><br>
    <center>
    <table> 
    
    <td rowspan = "3">
    <div class="about">
        <p>
            Employee Performance Management System provides a functionality of Submitting Projects and Courses.As an Human Resource Manager,you can evaluate the projects submitted by the Employees and provide them credits.
        </p>
    </div>
    </td>
    
    <td>
        <img src = "https://res.cloudinary.com/everfi/images/f_auto,q_auto/v1622740706/pexels-fauxels-3183150/pexels-fauxels-3183150.jpg?_i=AA"; width = "600" height = "350">
    <td>
    </table>
    </center>
    <br><br>
    <center>
    <!-- <h1>Submit your Projects and Courses Below</h1></center>
    
    <div>
    <br><br><br><br><br>
    <center>
        <a href="Evaluation"><button  type = "button" onclick = "window.location.href = 'HRpage.html'">EVALUATE EMPLOYEES</button></a>
    </center>
    </div>
    <br><br><br><br><br><br><br><br> -->
</body>
</html>